.hero-container.blhero2.skhero1
  -#= image_tag "/images/home/hero-bg-left.svg", class: "hero-bg hero-bg-left", alt: "Gitlab hero background left svg"
  -#= image_tag "/images/home/hero-bg-right.svg", class: "hero-bg hero-bg-right", alt: "Gitlab hero background right svg"
  %span.hero-wave
  .hero-content
    .row
      .col-md-8
        %h1.bold-headline.margin-top0.hero-item
          GitLab named a Leader in Cloud-Native CI
        .hero-item.text-left
          %p Learn why GitLab was evaluated as a Leader by independent research firm
        .buttons-container.margin-top20.hero-item.u-margin-top-sm
          = link_to "/free-trial/", class: "btn cta-btn large orange-light" do
            Try GitLab for FREE
          = link_to "/demo/", class: "btn cta-btn large btn-white flex-container align-center" do
            .i.fas.fa-play.play-icon
            Watch a demo
      .col-md-4.special-link
        %p
          = link_to "/analysts/forrester-cloudci19/" do
            = image_tag "/images/home/homepage-forrester-wave-2019.png"
            %span Read the full report

%script{src: "/javascripts/libs/tweenmax.min.js", type: "text/javascript"}
