---
layout: default
title: Reseller Enablement - Deep Dive
suppress_header: true
extra_css:
  - styles-2018.css
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline Gitlab Reseller Sales Enablement Session   
        %h2.page-subtitle Selling the value of GitLab Ultimate

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %h3 On-Demand
            %p Join us to learn how you can help your enterprise customers solve their delivery challenges with GitLab Ultimate. Almost every enterprise is trying to streamline and accelerate software delivery, but their delivery tool chain holds them back. Learn how you can help them simplify, streamline and secure their software delivery lifecycle with GitLab Ultimate, where they can have a secure, compliant, and fast software development tool chain.  Help them gain visibility, increase re-use and eliminate multiple complex integrations so they can accelerate software delivery without compromise

          .content-section
            %h3 In this webcast, we cover:
            %ul
              %li Full end to end DevOps Lifecycle
              %li Portfolio management to organize roadmaps and epics
              %li Security dashboard and scanning for every commit, container and dependency
              
        .col-md-4.col-md-offset-1
          %h2 Register for the webcast
          .centered-form
            %script{src: "//page.gitlab.com/js/forms2/js/forms2.min.js"}
            %form#mktoForm_1644
            :javascript
              MktoForms2.loadForm("//page.gitlab.com", "194-VVC-221", 1644, function(form) {
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.confirmform').attr('style', 'visibility: visible');
                  return false;
                });
              });
            .confirmform{style: "visibility:hidden;"}
              .centered-form-info
                %h3 Registration received!
                %p You will receive an email with additional details.
